*.o
*.swp
*github.com*
*bin/
*pkg/
*data/
*.log*
*.json*
*.dat*
*.sql*
*jzlservice/
.DS_Store
nohup.out
*.lst
*.tgz
t.go
*detail/
*deploy/
*index_*/
_index.path
*.txt
*.dic
*.ivt
main
*.iml
misc.xml
modules.xml
vcs.xml
